/*------------------------------- FONT FAMILY----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/*------------------------------- BASIC SETUP ----------------------------------------*/

* {
    margin: 0;
    font-family: "fjalla one"
}

body {
    margin: 1x;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}



html {
    background-color: #1f1a1a;
    color: #ea7dd9;}






/*----------------- NAV ----------------------*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #414141;
    color: #ea7dd9;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 20%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    color: #ea7dd9;
}

.menu-button::before {
    content: '';
    margin-top: 8px;
}


.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid rgba(0, 0, 0, 0);
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #ea7dd9;
        background-color: #414141;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #ea7dd9;
    }
}
/*------------- LINKS ---------------------*/
a:link,
a:visited {
    color: #ea7dd9;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #ea7dd9;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #FFF;
    border-bottom: 1px solid transparent;
}

/*------------------- BUTTONS ---------------------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 35px;
    font-size: 140%;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2, color 0.2;
}

.btn-full:link,
.btn-full:visited {
    background-color: #ea7dd9;
    border: 1px solid #ea7dd9;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #ea7dd9;
    color: #ea7dd9;
}


.btn:hover,
.btn:active {
    background-color: #fff;
}


.btn-full:hover,
.bth-full:active {
    border: 1px solid #ea7dd9;
    color: #ea7dd9;
}

.btn-ghost: hover,
.btn-ghost: active {
    border: 1px solid #ea7dd9;
    color: #ea7dd9;
}

/*----------------------- HEADER ----------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.62)), url("../images/bbackground.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    text-transform: capitalize;
    width: auto;
}

.logo {
    height: 120px;
    width: auto;
    float: left;
