/*------------------------------- FONT FAMILY----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Ysabeau+SC:wght@100;200&display=swap');

/*------------------------------- BASIC SETUP ----------------------------------------*/

body {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: #414141;
    color: #fff;
    font-family: 'Ysabeau SC', sans-serif;
}


li {
    color:#fff;
}

ul {
    list-style-type: none;
}

hr {
width: 50%;
margin-bottom: 5%;}


p {
font-family: 'Ysabeau SC', sans-serif;
font-size: 120%;
font-weight: 200;
text-align: center;
}


.btn-app img {
    height: 50px;
    width: auto;
    margin: 10px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 100%;
    width: auto;
    margin-right: 10px;}

/*----------------------- HEADER ----------------------*/

header {
    background-size: cover;
    background-position: center;;
}

.hero-text-box {
text-align: center;
margin-left:auto;
margin-top:auto;
}

.logo {
    height: 120px;
    width: auto;
    float: left;
}

h1 {
    font-size: 400%;
    text-transform: uppercase;
    font-family: fjalla one;
}


h2 {
    font-size: 400%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-family: fjalla one;
}

h3 {
    font-size: 250%;
    text-transform: uppercase;
    text-align: center;
}


/*------------------------------------- LINKS -----------------------------------------*/
a:link,
a:visited {
    color: #ea7dd9;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #ea7dd9;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #FFF;
    border-bottom: 1px solid transparent;
}

/*------------------------------------- BUTTONS --------------------------------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 35px;
    font-size: 140%;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2, color 0.2;
}

.btn-full:link,
.btn-full:visited {
    background-color: #fff;
    border: 1px solid #fff;
    color: #fff;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #fff;
    color: #fff;
}
.btn:hover,
.btn:active {
    background-color: #ea7dd9;;
}
.btn-full:hover,
.bth-full:active {
    border: 1px solid #ea7dd9;
    color: #fff;
}
.btn-ghost: hover,
.btn-ghost: active {
    border: 1px solid #ea7dd9;
    color: #ea7dd9;
}    
/*------------------------------------- NAV -------------------------------------------*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #414141;
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 20%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    color: #ea7dd9;
}

.menu-button::before {
    content: '';
    margin-top: 8px;
}


.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 1800px) {
  .menu-button-container {
      display: flex;}
      
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid rgba(0, 0, 0, 0);
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }


    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #ea7dd9;
        background-color: #414141;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #ea7dd9;
    }

/*------------------------------------- SECTION BURGERS ----------------------------------------*/

.section-burger{}    
    
.burger-showcase li {
     display: block;
     float: left;
     width: 25%;
}

.burger-photo {
    width: 100%;
    margin: 1;
    overflow: hidden;
    background: #000;
}

.burger-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.burger-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}


.clearfix {
    zoom: 1%;
    overflow: auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: auto;
    visibility: hidden;
}

/*------------------------------ BURGER MENU -----------------------------*/

.burger_menu {
text-align: center;
    
}



/*-------------------------------COLUMNS-------------------------------------*/


/* Clear floats after the columns */

.column {
    float: left;;
}


/*--------------------------------------- ABOUT US-------------------------------------------*/
.container {max-width: 808px;
           margin-left:auto;
           margin-right:auto;
           text-align:cente;}



/*----------------------------------- SECTION ----------------------------------------*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*----------------------------------- GROUPING----------------------------------------*/
.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*----------------------------------- FONTS-------------------------------------*/

.ysabeu {
font-family: 'Ysabeau SC', sans-serif;
font-size: 120%;
font-weight: 200;
}
